


.container{
display: grid;
background-color:cyan;
place-items: center;
height: 600px;


}
.cards{
display: grid;
 grid-template-columns:repeat(4, 1fr) ;
 grid-gap:cm;

}
.logos img{
    height: 90px;
    width: 70px;
border-radius: 0px;

place-items: center;
padding: 10px;
margin-bottom: -120px;
}
.logos{
background-color: blueviolet;
margin: 20px;
border-radius: 10px;
height: 130px;
width: 100px;

}